<div class="d-flex">
    <div class="mr-auto p-1">
        <div class="float-left">
            <i [class]="todayDatapoint.length === 1 && todayDatapoint[0].value >= goal.dailyMin ? 'far fa-lightbulb success mr-3' : 'far fa-lightbulb danger mr-3'"></i>
        {{goal.name}}
        </div>
    </div>
    <ng-template [ngIf]="streak !== null">
        <div class="p-1 streak"><img [class]="(streak === 0) ? 'streak-icon no-streak' : 'streak-icon'"
                                     src="../../../assets/streak-icon.svg" alt="streak">
        </div>
        <div class="p-1 streak">{{streak}}</div>
    </ng-template>
</div>
